@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Roboto Slab", serif;
        }

        body {
            line-height: 1.6;
        }

        header {
            background: blue;
            color: white;
            padding: 20px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .hero {
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: #f8f9fc;
            text-align: center;
            padding: 20px;
        }

        .hero h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .btn {
            background: #4e73df;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn:hover {
            background: #2e59d9;
        }

        .features {
            padding: 50px;
            text-align: center;
        }

        .feature-box {
            display: inline-block;
            width: 30%;
            margin: 15px;
            padding: 20px;
            background: #f1f1f1;
            border-radius: 8px;

        }

        .contact {
            padding: 50px;
            background: #f8f9fc;
            text-align: center;
        }

        input, textarea {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
        }

        footer {
            background: #4e73df;
            color: white;
            text-align: center;
            padding: 15px;
        }

        @media (max-width: 768px) {
            .feature-box {
                width: 90%;
            }
        }