@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body{
    font-family: "Merriweather", serif;
    background-color: gainsboro;
}
h1{
    color: red;
}
form{
    background-color: white;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 5px 5px 15px;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px ;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    font-size: 25px ;
    background-color: rgb(216, 7, 7);
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 5px 5px 15px;

}
#result{
    font-size: 1.5em;
    font-weight: bold;
}