@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    background-color: #d6f0ea;
}

header {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

header ul li a:hover {
    color: #00c896;
}

.about {
    background: white;
    padding: 50px;
    height: 500px;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: flex;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img img {
    width: 300px;
    border-radius: 10px;
}

.about-text {
    width: 50%;
}

.about-text h2 {
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

button {
    padding: 10px 20px;
    background: #00c896;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #009e73;
}

.features {
    display: flex;
    text-align: center;
}

.box {
    flex: 1;
    padding: 40px;
    color: white;
    height: 400px;
    align-self: center;
}

.dark {
    background: black;
}

.gray {
    background: gray;
}

.light {
    background: #f0f0f0;
    color: black;
}

.green {
    background: #00c896;
}

.box h3 {
    margin-bottom: 15px;
}

.box p {
    margin-bottom: 20px;
}

.box a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
.logo{
    font-size: 50px;
}
.footer{
    background-color: black ;
    color: white;
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid white;
}